#name h1{
	font-size:  4em;
	text-transform: uppercase;
	font-family: 'Montez', cursive;
}

#name sub{
	font-size: 50%;		
	text-transform: lowercase;
}

#summary p{
	text-align: justify;
}

.row {
	margin-bottom:0px;
}

#image img{
	height: 150px;
	width: 150px;
	filter: grayscale(1);
	border: solid white 3px;
}

#links img{
	width: 64px;
	height: 64px;
	filter: grayscale(1);
	border-radius: 50%;

}

body{
	/*background-color: #1f1f1f;*/
	background-image: url('../img/bg.png');
	color: white;
}
.section{
	padding-top: 0;
	
}

#contact .s1{
	width: 2%;
}