#name{
	font-size:  1.5rem;
	text-transform: uppercase;
	font-family: 'Kaushan Script' , sans-serif;
}

.title{
	font-family: 'Kaushan Script' , sans-serif;
	font-size: 1.25rem;
}

#name sub{
	font-size: 50%;		
	text-transform: lowercase;
}

#hello p,#summary p{
	text-align: justify;
}

.row {
	margin-bottom:0px;
}

#links img{	
	width: 100%;
	height: 100%;
	filter: grayscale(1);
	border-radius: 50%;
}

#links .s2{
	width: 18%;
	margin: 1%;
}

.section{
	padding-top: 0;
	padding-bottom: 0.5rem;
}

.info{
	height: 100%;
}

#pageb .tabs{
	background: none;
}


.type.col.m4{
	min-height: 200px;
}

.row.project,.row.education,.row.work{

	padding: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#links .col.s2{
	padding: 0;
}

.tag{
	font-style: italic;
}

.ps.ps--active-x > .ps__scrollbar-x-rail, .ps.ps--active-y > .ps__scrollbar-y-rail{
	background: none;
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y{
	background-color: rgba(255,255,255,0.20);
}

.tabs-content.carousel .carousel-item{
	height:600px;
	overflow-y: scroll;
}


.tabs .tab a{
	opacity: 1;
}




#skills .m2{
	width: 14.666%;
	margin: 1%;
	padding: 2%;
	border-radius: 50%;
}



.collapsible-header,.collapsible-body{
	background: none;
	border: none;
	padding: 0;
}


.collapsible{
	border: none;
	box-shadow: none;
}


#skills svg {

	height: 100%;
	width: 100%;

}

.education.col.s12, .work.col.s12{
	margin: 1%;
}


object{
	width: 16%;
	margin: 1%;
}

#contact{
	text-align: center;
}

#skills{
	text-align: center;
	font-size: 10px;
}

#believe{
	height: 10em;
}

#skills svg path{
	fill: rgba(255,255,255,1);
}


#image img{
	width: 39.5%;
	filter: grayscale(1);
	border: solid white 3px;
	margin-left: 30.25%;
	margin-right: 30.25%;
}
#links svg path{
	fill: white;
}
#moghyaSays{
	display: none;
    margin-top: 5%;
    border-top: solid white 1px;
}
.col.m6.s12.details{
	border-left: solid white 2px;

}

a{
	color: white;
}
.tabs .tab a.active {
	color: white;
	opacity: 1;
}

.tabs .tab a{
	color: white;
}

.tabs .tab a:hover{
	color: white;
}

.tabs .indicator{
	background-color: white;
}

body{
	background-color: #1f1f1f;
	color: white;
	font-family: "Lekton", monospace;
}
