div.content {
	display: none;
}

.progress {
	background-color: white;
	margin: 25% 0 0 0;
}

.progress .indeterminate {
    background-color: #1f1f1f;
}

#name{
	font-size:  2.5rem;
	font-weight: bold;
}

.title{
	font-size: 1.5rem;
	font-weight: bold;
	/* color: #01a252; */
	color: teal;
}

.position {
	text-align: right;
}

.project .col {
	padding: 0;
}

.work .col {
	padding: 0;
}

.education .col {
	padding: 0;
}

#name sub{
	font-size: 50%;		
	text-transform: lowercase;
}

.content-text {
	text-align: justify;
}

.row {
	margin-bottom:0px;
}

.section{
	padding-top: 0;
	padding-bottom: 0.5rem;
}

.page {
	max-width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

hr {
	max-width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.type.col.m4{
	min-height: 200px;
}

.row.project,.row.education,.row.work{
	padding: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#links .col.s2{
	padding: 0;
}

.tag {
	font-style: italic;
}

#tabs {
	position: fixed;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 25%;
}

#tabs a{
	opacity: 1;
	display: block;
	margin-left: 10%;
}

#skills .m2{
	width: 14.666%;
	margin: 1%;
	padding: 2%;
	border-radius: 50%;
	font-size: 1.15rem;
	text-align: center;
}

.collapsible-header,.collapsible-body{
	background: none;
	border: none;
	padding: 0;
}


.collapsible{
	border: none;
	box-shadow: none;
}

.education.col.s12, .work.col.s12{
	margin: 1%;
}


object{
	width: 16%;
	margin: 1%;
}

#contact{
	text-align: center;
}

#moghyaSays{
	font-size: 1rem;
}

.details{
	text-align: justify;
}

.period {
	text-align: right;
}

.golden {
	color: #d3a04d;
	background-color: none;
}

.score {
	text-align: right;
}

a{
	color: green;
}

*{scroll-behavior: smooth;}

body{
	background-color: #1f1f1d;
	/* background-color: #646464; */
	color: #b6b6b6;
	font-family: "Lekton", monospace;
	font-size: 1.15rem;
	font-display: auto;
}

h6 {
	font-size: 1.15rem;
}


.swal-button {
	color: white;
	background-color: #1f1f1f;
	box-shadow: none !important;
	text-align: justify;
}

button:focus {
	color: white !important;
	background-color: #1f1f1f !important;
}

button:hover {
	color: white !important;
	background-color: #1f1f1f !important;
}

.swal-button-container {
	display: inline;
}