#name h1{
	font-size:  2em;
	text-transform: uppercase;
	font-family: 'Montez', cursive;
}

#name sub{
	font-size: 50%;		
	text-transform: lowercase;
}

#summary p{
	text-align: justify;
}

.row {
	margin-bottom:0px;
}

#image img{
	height: 125px;
	width: 125px;
	filter: grayscale(1);
	border: solid white 3px;
}

#links img{
	
	width: 35px;
	height: 35px;
	filter: grayscale(1);
	border-radius: 50%;
}

.section{
	padding-top: 0;
	padding-bottom: 0.5rem;
}

.info{
	height: 100%;
}

#pageb .tabs{

	background: none;

}

.tabs .tab a.active {
	color: white;

}

.tabs .tab a{
	color: white;
}

.tabs .tab a:hover{
	color: white;
}

.tabs .indicator{
	background-color: white;
}

body{
	/*background-color: #1f1f1f;*/
	background-image: url('../img/bg.png');
	color: white;
}

.project{
	
	background-color: rgba(255,255,255,0.13);
	
}

a{
	color: white;
}
.project.col.m6 {

	width: 44%;
    margin: 3%;
    padding: 1%;
    min-height: 200px;
}

blockquote{
	border-left: 5px solid white;
	text-align: justify;
}

.tag{
	font-style: italic;
}



.ps.ps--active-x > .ps__scrollbar-x-rail, .ps.ps--active-y > .ps__scrollbar-y-rail{
	background: none;
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y{
	background-color: rgba(255,255,255,0.13);
}


.tabs-content.carousel .carousel-item{
	height:600px;
	overflow-y: scroll;
}


.tabs .tab a{
	opacity: 0.2;
}


.tabs:hover a{
	opacity: 1;
}

#skills .col{
	background-color: rgba(255,255,255,0.13);
	
}


#skills .icon{
	font-size: 500%;
}

#skills .rating .material-icons{
	font-size: 18px;
}

#pagea{
	
}

#skills .m2{
	width: 14.666%;
	margin: 1%;
	padding: 2%;
	border-radius: 50%;
}



.sweet-alert{
	background-color: rgba(255,255,255,0.13);
	color: white;
}

.sweet-alert h1,h2,h3,p,span{
	color: white;
	background: none;
}

.collapsible-header{
	background:none;
	border: none;
}

.collapsible{
	border: none;
}

#skills svg path{
	fill: white;

}

#skills svg {

	height: 100%;
	width: 100%;

}