#name{
	font-size:  3rem;
	text-transform: uppercase;
	font-family: 'Kaushan Script' , sans-serif;
}

#name sub{
	font-size: 50%;		
	text-transform: lowercase;
}

#summary p{
	text-align: justify;
}

.row {
	margin-bottom:0px;
}

#image img{
	width: 15%;
	filter: grayscale(1);
	border: solid white 3px;
	margin-left: 42.5%;
	margin-right: 42.5%;
}

#links img{
	width: 100%;
	height: 100%;
	filter: grayscale(1);
	border-radius: 50%;

}

body{
	background-color: #1f1f1f;
	color: white;
	font-family: "Lekton", monospace;
}
.section{
	padding-top: 0;
}
#avtar img{
	width: 8%;
	margin-left: 46%; 
}